.header {
  background-color: var(--headerBackground);
  height: 56px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
}

.list {
  width: 100%;
}

.listItem {
  margin: 0 8px;
  display: inline-block;
}

.listItem:first-of-type {
  margin: 0 8px 0 0;
}

.listItem:last-of-type {
  margin: 0 0 0 8px;
}

.loggedInStatus {
  color: var(--brightRed);
}
