:root {
	/* colors based on vscode monokai theme */
	--white: #e3e3dd;
	--gray: #797979;
	--black: #333333;
	--red: #c4265e;
	--orange: #da6c2d;
	--yellow: #b3b42b;
	--green: #86b42b;
	--cyan: #56adbc;
	--blue: #6a7ec8;
	--magenta: #8c6bc8;
	--brightWhite: #f8f8f2;
	--brightGray: #a8a8a8;
	--brightBlack: #666666;
	--honeydew: #f0fff0;
	--brightRed: #f92672;
	--brightOrange: #ff8138;
	--brightYellow: #e2e22e;
	--brightGreen: #a6e22e;
	--brightCyan: #66d9ef;
	--brightBlue: #819aff;
	--brightMagenta: #ae81ff;

	--foreground: #f8f8f2;
	--focus: #75715e;
	--selection: #414339;
	--background: #272822;
	--border: #1e1f1c;

	--errorBackground: #90274a;
	--errorBorder: #f92672;
	--warningBackground: #848528;
	--warningBorder: #e2e22e;
	--infoBackground: #546190;
	--infoBorder: #819aff;

	--headerBackground: #34352f;
	--footerBackground: #34352f;
}

html,
body {
	color: var(--foreground);
	background: var(--background);
	font-family:
		"Atkinson Hyperlegible", Inter, Roboto, "Helvetica Neue", "Arial Nova",
		"Nimbus Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.6;
	height: 100%;
	margin: 0;
}

.largeHeading {
	font-size: 48px;
}

a {
	color: var(--brightGreen);
}

a:hover {
	text-decoration: none;
}

button {
	background-color: var(--green);
	border: 1px solid var(--brightGreen);
	border-style: outset;
	border-radius: 2px;
	font-size: 15.4px;
}

input,
textarea {
	font-family:
		"Atkinson Hyperlegible", Inter, Roboto, "Helvetica Neue", "Arial Nova",
		"Nimbus Sans", Arial, sans-serif;
}
