.footer {
	background-color: var(--footerBackground);
}

.list {
	padding: 0;
	list-style: none;
}

.form {
	max-width: 300px;
	display: flex;
	flex-direction: column;
}

.form > * {
	margin-top: 2px;
}

.textarea {
	height: 100px;
}
